.is-borrow
	background #e74c3c
	color whitesmoke
	border 1px solid #e74c3c
	&:focus
		color whitesmoke
		border 1px solid #e74c3c
	&:hover
		color whitesmoke
		background #c0392b
		border 1px solid #e74c3c
		
